In [73]:
import pandas as pd
from google.cloud import bigquery

from datetime import date

In [9]:
!wget -O gwas1.csv "https://www.dropbox.com/scl/fi/1cnx05axkscen0z63naho/gwas1.csv?rlkey=ahtv4fscutxf4sb6i5w7y6890&st=jgg34tcu&dl=0"

--2025-09-07 02:03:16--  https://www.dropbox.com/scl/fi/1cnx05axkscen0z63naho/gwas1.csv?rlkey=ahtv4fscutxf4sb6i5w7y6890&st=jgg34tcu&dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.6.18, 2620:100:601c:18::a27d:612
Connecting to www.dropbox.com (www.dropbox.com)|162.125.6.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://uc412ae67c16ad16ed9c8fbb1dd5.dl.dropboxusercontent.com/cd/0/inline/Cw6Zx0vuudt2QF4m5EpFpAieQT9QKn6nlIUuxyXv3REztRfFB89Uk5FvyV3hBA7_HH4taD6AsBxCslPD2PwiIdeNL3PfSVj1Z1ioK-qAYVO8mQ0Aw9vCQpNgwnpZO65TxOI/file# [following]
--2025-09-07 02:03:17--  https://uc412ae67c16ad16ed9c8fbb1dd5.dl.dropboxusercontent.com/cd/0/inline/Cw6Zx0vuudt2QF4m5EpFpAieQT9QKn6nlIUuxyXv3REztRfFB89Uk5FvyV3hBA7_HH4taD6AsBxCslPD2PwiIdeNL3PfSVj1Z1ioK-qAYVO8mQ0Aw9vCQpNgwnpZO65TxOI/file
Resolving uc412ae67c16ad16ed9c8fbb1dd5.dl.dropboxusercontent.com (uc412ae67c16ad16ed9c8fbb1dd5.dl.dropboxusercontent.com)... 162.125.6.15, 2620:100:601c:15::a27d:60f
Connecting to uc412ae67c16ad16ed9c8fbb1dd5.dl.dropboxusercontent.com (uc412ae67c16ad16ed9c8fbb1dd5.dl.dropboxusercontent.com)|162.125.6.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22093 (22K) [text/plain]
Saving to: ‘gwas1.csv’

gwas1.csv           100%[===================>]  21.58K  --.-KB/s    in 0.03s

2025-09-07 02:03:17 (774 KB/s) - ‘gwas1.csv’ saved [22093/22093]

In [10]:
!wget -O "kvg_locityper_genotyping_v2.csv.gz" "https://www.dropbox.com/scl/fi/mxdac52cd4iz9hjkqupri/kvg_locityper_genotyping_v2.csv.gz?rlkey=mv745v9fnmgutmrciszumcf14&st=p5d77n7g&dl=0"

--2025-09-07 02:03:18--  https://www.dropbox.com/scl/fi/mxdac52cd4iz9hjkqupri/kvg_locityper_genotyping_v2.csv.gz?rlkey=mv745v9fnmgutmrciszumcf14&st=p5d77n7g&dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.6.18, 2620:100:601c:18::a27d:612
Connecting to www.dropbox.com (www.dropbox.com)|162.125.6.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://ucd84152c7f748aeeae9b5e0937c.dl.dropboxusercontent.com/cd/0/inline/Cw7cQzSykcEQaoxw0EkH2N0abaCkpbm-shzX4TRWTEg6r4Lk3VvCsmwhFeQyMhNfhV4X8A7mrk_P_8rYic0jBpvqn6gV1U0drpRTwKb_IncE5yVS-GoQNalcAZUMPidR89M/file# [following]
--2025-09-07 02:03:19--  https://ucd84152c7f748aeeae9b5e0937c.dl.dropboxusercontent.com/cd/0/inline/Cw7cQzSykcEQaoxw0EkH2N0abaCkpbm-shzX4TRWTEg6r4Lk3VvCsmwhFeQyMhNfhV4X8A7mrk_P_8rYic0jBpvqn6gV1U0drpRTwKb_IncE5yVS-GoQNalcAZUMPidR89M/file
Resolving ucd84152c7f748aeeae9b5e0937c.dl.dropboxusercontent.com (ucd84152c7f748aeeae9b5e0937c.dl.dropboxusercontent.com)... 162.125.6.15, 2620:100:601c:15::a27d:60f
Connecting to ucd84152c7f748aeeae9b5e0937c.dl.dropboxusercontent.com (ucd84152c7f748aeeae9b5e0937c.dl.dropboxusercontent.com)|162.125.6.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/Cw5AWkPOs40OQoxQjLJhSmsS3gzxu-fhxBYmSywv421s5lukhjg4YN0Ja50mdyMpspZQvbPBbTrxj1Esc489CB2Dj2yI2okEVuC1TWbL9Kv24pw8BOnuYogPsDOPF5xMzSecaHNaS014-sEV7qQJpaRnzpmU_eo1GKrzYlKgfcii7cgdlMCUpvqOUnYfPuqV2PWJcjR32MpuVfvqPyRN46pDJCtnQovOYrkRBHYzyOYFPF9ZMtpr9grqt4wkLPAv_d8atqkqRuuxjV_DNXAqjY4cBQujc6vTUSjSdY-CqNrtYz-Hmcv87UhvtAMfDZc5wF3MpkeHDexNnHULzDsL2Hqr6opnKBSPdJkZTb1U1CwIYQ/file [following]
--2025-09-07 02:03:20--  https://ucd84152c7f748aeeae9b5e0937c.dl.dropboxusercontent.com/cd/0/inline2/Cw5AWkPOs40OQoxQjLJhSmsS3gzxu-fhxBYmSywv421s5lukhjg4YN0Ja50mdyMpspZQvbPBbTrxj1Esc489CB2Dj2yI2okEVuC1TWbL9Kv24pw8BOnuYogPsDOPF5xMzSecaHNaS014-sEV7qQJpaRnzpmU_eo1GKrzYlKgfcii7cgdlMCUpvqOUnYfPuqV2PWJcjR32MpuVfvqPyRN46pDJCtnQovOYrkRBHYzyOYFPF9ZMtpr9grqt4wkLPAv_d8atqkqRuuxjV_DNXAqjY4cBQujc6vTUSjSdY-CqNrtYz-Hmcv87UhvtAMfDZc5wF3MpkeHDexNnHULzDsL2Hqr6opnKBSPdJkZTb1U1CwIYQ/file
Reusing existing connection to ucd84152c7f748aeeae9b5e0937c.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 89062264 (85M) [application/octet-stream]
Saving to: ‘kvg_locityper_genotyping_v2.csv.gz’

kvg_locityper_genot 100%[===================>]  84.94M  84.4MB/s    in 1.0s

2025-09-07 02:03:21 (84.4 MB/s) - ‘kvg_locityper_genotyping_v2.csv.gz’ saved [89062264/89062264]

In [11]:
gwas_df = pd.read_csv("gwas1.csv")

In [12]:
gwas_df

,SVID,Disease,Count of SV carriers,SV carriers with the disease,SV carriers without the disease,Non-carriers with the disease,Non-carriers without the disease,Odds ratio [95% CI],p-value
0,chr5-261326-allele7753-193,Ingrowing nail,13,5,8,238,9749,"25.601 [8.314, 78.836]",8.920000e-06
1,chr20-43904383-allele454589-64,Supraventricular tachycardia,18,6,12,197,9785,"24.835 [9.227, 66.842]",9.850000e-07
2,chr11-1417831-allele24529-238,"Localized, primary osteoarthritis of the wrist",25,5,20,105,9870,"23.5 [8.657, 63.795]",6.550000e-06
3,chr1-80330595-allele774820-1,Chronic fatigue syndrome,18,5,13,163,9819,"23.169 [8.165, 65.744]",9.050000e-06
4,chr21-29999888-allele266825-150,Thoracic spondylosis without myelopathy,27,6,21,151,9822,"18.585 [7.396, 46.7]",3.070000e-06
...,...,...,...,...,...,...,...,...,...
194,chr1-229330032-allele1913230-1,Cystitis,1473,4,1469,166,8361,"0.137 [0.051, 0.37]",8.220000e-08
195,chr11-60605062-allele572784-67,Hypertensive renal failure,1094,3,1091,178,8728,"0.135 [0.043, 0.423]",2.900000e-06
196,chr3-116556424-allele1052179-1,Lymphedema,9960,168,9792,7,33,"0.081 [0.035, 0.185]",5.110000e-06
197,chr16-1685737-allele33694-329,Chronic ulcer of skin,1204,1,1203,118,8678,"0.061 [0.009, 0.438]",6.250000e-06
198,chr1-56776934-allele578921-1,Myocardial infarction due to demand ischemia,9975,106,9869,5,20,"0.043 [0.016, 0.117]",6.850000e-06

In [13]:
lt_df = pd.read_csv("kvg_locityper_genotyping_v2.csv.gz")

In [14]:
lt_df

,sample,locus,genotype,quality,total_reads,unexpl_reads,weight_dist,warnings,variant_type,chrom,pos,ref_allele,imputed_alt_allele,source,locityper_alt_allele_id,locityper_alt_allele,locityper_alt_allele_score,unexpl_ratio,pass_filters
0,1002016,chr4-5856915-allele82772-137,"1015507.2,1211831.1",13.2,1112.0,139.0,0.09559,*,INS,chr4,5856915,C,CCACCACCATCACCACCATCACCATCATCACCACCATCCACTATCA...,Sample_sv.pheWAS.txt.gz,chr4-5856915-allele82772-137,CCACCACCATCACCACCATCACCATCATCACCACCATCCACTATCA...,0,0.125000,True
1,1002016,chr4-189122924-allele1853092-336,"1285780.1,1574652.1",8.8,857.0,239.0,0.29791,*,INS,chr4,189122924,T,TAAGGAGTACACACCGGGCCGGGCGCGGTGGCTCACGCCTGTAATC...,Sample_sv.pheWAS.txt.gz,chr4-189122924-allele1853092-336,TAAGGAGTACACACCGGGCCGGGCGCGGTGGCTCACGCCTGTAATC...,0,0.278880,True
2,1002016,chr3-116556424-allele1052179-1,"1013536.1,1032052.1",3.3,4674.0,0.0,0.00000,*,DEL,chr3,116556424,TAAAAAATCTTCAGGCCGGGCGCGGTGGCTCACGCCTGTAATCCCA...,T,Sample_sv.pheWAS.txt.gz,chr3-116556424-allele1052179-1,T,0,0.000000,True
3,1002016,chr9-88974427-allele755662-479,"1008775.1,1016971.1",16.5,3855.0,0.0,0.48689,*,INS,chr9,88974427,C,CACAGATGACACAACACACACGCACATACCACACACACAGACCACA...,Sample_sv.pheWAS.txt.gz,chr9-88974427-allele755662-479,CACAGATGACACAACACACACGCACATACCACACACACAGACCACA...,0,0.000000,True
4,1002016,chr5-91278876-allele879919-1,"1244833.1,2069228.2",9.7,892.0,59.0,0.66427,*,DEL,chr5,91278876,CTCTCTCTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,C,Sample_sv.pheWAS.txt.gz,chr5-91278876-allele879919-1,C,0,0.066143,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
832085,1984576,295202,"1410168.1,1537665.2",2.3,587.0,40.0,4.33069,*,INS,chr9,15469318,C,CGAGAATCCATTGATGTTTCTACAAATTAAAATATGTGAAAAACAG...,Sample_sv.CADD.txt.gz,295202,CGAGAATCCATTGATGTTTCTACAAATTAAAATATGTGAAAAACAG...,0,0.068143,True
832086,1883619,383436,"1400437.1,1459680.2",8.2,2264.0,0.0,0.00002,*,INS,chr12,48777505,T,TGTCTGCAAACAGGATGCTGTAGATGACAGCAGAGGATGAACAGAA...,Sample_sv.CADD.txt.gz,chr12-48777505-allele496256-61,TGTCTGCAAACAGGATGCTGTAGATGACAGCAGAGGATGAACAGAA...,0,0.000000,True
832087,1883619,209421,"1145473.1,1685071.1",27.4,251.0,70.0,0.00718,*,INS,chr6,99550659,A,ATAATCTATCTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,Sample_sv.CADD.txt.gz,209421,ATAATCTATCTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,0,0.278884,True
832088,3250778,209421,"1145473.1,1583592.2",9.4,225.0,56.0,2.36420,*,INS,chr6,99550659,A,ATAATCTATCTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,Sample_sv.CADD.txt.gz,209421,ATAATCTATCTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,0,0.248889,True
832089,1072993,209421,"1027488.1,1937407.1",17.9,235.0,58.0,0.35965,*,INS,chr6,99550659,A,ATAATCTATCTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,Sample_sv.CADD.txt.gz,209421,ATAATCTATCTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,0,0.246809,True

In [15]:
import pandas
import os

# This query represents dataset "All participants, basic info, socioeconomic status" for domain "survey" and was generated for All of Us Controlled Tier Dataset v7
dataset_87959485_survey_sql = """
    SELECT
        answer.person_id,
        answer.survey_datetime,
        answer.survey,
        answer.question_concept_id,
        answer.question,
        answer.answer_concept_id,
        answer.answer,
        answer.survey_version_concept_id,
        answer.survey_version_name  
    FROM
        `""" + os.environ["WORKSPACE_CDR"] + """.ds_survey` answer   
    WHERE
        (
            question_concept_id IN (SELECT
                DISTINCT concept_id                         
            FROM
                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c                         
            JOIN
                (SELECT
                    CAST(cr.id as string) AS id                               
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr                               
                WHERE
                    concept_id IN (1586134, 40192389)                               
                    AND domain_id = 'SURVEY') a 
                    ON (c.path like CONCAT('%', a.id, '.%'))                         
            WHERE
                domain_id = 'SURVEY'                         
                AND type = 'PPI'                         
                AND subtype = 'QUESTION')
        )  
        AND (
            answer.PERSON_ID IN (SELECT
                distinct person_id  
            FROM
                `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
            WHERE
                cb_search_person.person_id IN (SELECT
                    person_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                WHERE
                    has_whole_genome_variant = 1 ) 
                AND cb_search_person.person_id IN (SELECT
                    person_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                WHERE
                    has_ehr_data = 1 ) )
        )"""

dataset_87959485_survey_df = pandas.read_gbq(
    dataset_87959485_survey_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

dataset_87959485_survey_df.head(5)

Downloading:   0%|          | 0/8994383 [00:00<?, ?rows/s]

,person_id,survey_datetime,survey,question_concept_id,question,answer_concept_id,answer,survey_version_concept_id,survey_version_name
0,1058049,2021-11-19 03:13:43+00:00,Social Determinants of Health,40192383,How often does a doctor or nurse act as if he ...,40192481,Rarely,<NA>,None
1,1099536,2021-11-10 02:46:05+00:00,Social Determinants of Health,40192383,How often does a doctor or nurse act as if he ...,40192481,Rarely,<NA>,None
2,2031261,2021-11-11 19:30:32+00:00,Social Determinants of Health,40192383,How often does a doctor or nurse act as if he ...,40192481,Rarely,<NA>,None
3,2897369,2022-01-12 02:23:34+00:00,Social Determinants of Health,40192383,How often does a doctor or nurse act as if he ...,40192481,Rarely,<NA>,None
4,6826951,2021-12-21 14:15:55+00:00,Social Determinants of Health,40192383,How often does a doctor or nurse act as if he ...,40192481,Rarely,<NA>,None

In [93]:
import pandas
import os

# This query represents dataset "All participants, basic info, socioeconomic status" for domain "zip_code_socioeconomic" and was generated for All of Us Controlled Tier Dataset v7
dataset_87959485_zip_code_socioeconomic_sql = """
    SELECT
        observation.person_id,
        observation.observation_datetime,
        zip_code.zip3_as_string as zip_code,
        zip_code.fraction_assisted_income as assisted_income,
        zip_code.fraction_high_school_edu as high_school_education,
        zip_code.median_income,
        zip_code.fraction_no_health_ins as no_health_insurance,
        zip_code.fraction_poverty as poverty,
        zip_code.fraction_vacant_housing as vacant_housing,
        zip_code.deprivation_index,
        zip_code.acs as american_community_survey_year 
    FROM
        `""" + os.environ["WORKSPACE_CDR"] + """.zip3_ses_map` zip_code 
    JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.observation` observation 
            ON CAST(SUBSTR(observation.value_as_string, 0, STRPOS(observation.value_as_string, '*') - 1) AS INT64) = zip_code.zip3  
    WHERE
        observation.PERSON_ID IN (SELECT
            distinct person_id  
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
        WHERE
            cb_search_person.person_id IN (SELECT
                person_id 
            FROM
                `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
            WHERE
                has_whole_genome_variant = 1 ) 
            AND cb_search_person.person_id IN (SELECT
                person_id 
            FROM
                `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
            WHERE
                has_ehr_data = 1 ) ) 
        AND observation_source_concept_id = 1585250 
        AND observation.value_as_string NOT LIKE 'Res%'"""

dataset_87959485_zip_code_socioeconomic_df = pandas.read_gbq(
    dataset_87959485_zip_code_socioeconomic_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

dataset_87959485_zip_code_socioeconomic_df['person_id'] = dataset_87959485_zip_code_socioeconomic_df['person_id'].astype(str)

dataset_87959485_zip_code_socioeconomic_df.head(5)

Downloading:   0%|          | 0/206048 [00:00<?, ?rows/s]

,person_id,observation_datetime,zip_code,assisted_income,high_school_education,median_income,no_health_insurance,poverty,vacant_housing,deprivation_index,american_community_survey_year
0,8626964,2021-04-26 16:25:08+00:00,016**,22.527143,84.993562,50685.199639,3.221594,21.453950,9.305993,0.355175,2017
1,1829914,2019-12-23 14:08:26+00:00,019**,12.889697,90.894584,81093.221321,2.948661,9.679384,6.108289,0.251716,2017
2,1577271,2019-12-13 20:10:38+00:00,019**,12.889697,90.894584,81093.221321,2.948661,9.679384,6.108289,0.251716,2017
3,4320881,2021-07-28 13:47:21+00:00,023**,12.741530,91.435488,81052.994897,2.828384,8.649236,6.690513,0.247603,2017
4,1840207,2019-05-09 16:08:44+00:00,023**,12.741530,91.435488,81052.994897,2.828384,8.649236,6.690513,0.247603,2017

In [17]:
import pandas
import os

# This query represents dataset "All participants, basic info, socioeconomic status" for domain "person" and was generated for All of Us Controlled Tier Dataset v7
dataset_87959485_person_sql = """
    SELECT
        person.person_id,
        person.gender_concept_id,
        p_gender_concept.concept_name as gender,
        person.birth_datetime as date_of_birth,
        person.race_concept_id,
        p_race_concept.concept_name as race,
        person.ethnicity_concept_id,
        p_ethnicity_concept.concept_name as ethnicity,
        person.sex_at_birth_concept_id,
        p_sex_at_birth_concept.concept_name as sex_at_birth 
    FROM
        `""" + os.environ["WORKSPACE_CDR"] + """.person` person 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_gender_concept 
            ON person.gender_concept_id = p_gender_concept.concept_id 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_race_concept 
            ON person.race_concept_id = p_race_concept.concept_id 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_ethnicity_concept 
            ON person.ethnicity_concept_id = p_ethnicity_concept.concept_id 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_sex_at_birth_concept 
            ON person.sex_at_birth_concept_id = p_sex_at_birth_concept.concept_id  
    WHERE
        person.PERSON_ID IN (SELECT
            distinct person_id  
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
        WHERE
            cb_search_person.person_id IN (SELECT
                person_id 
            FROM
                `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
            WHERE
                has_whole_genome_variant = 1 ) 
            AND cb_search_person.person_id IN (SELECT
                person_id 
            FROM
                `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
            WHERE
                has_ehr_data = 1 ) )"""

dataset_87959485_person_df = pandas.read_gbq(
    dataset_87959485_person_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

dataset_87959485_person_df.head(5)

Downloading:   0%|          | 0/206173 [00:00<?, ?rows/s]

,person_id,gender_concept_id,gender,date_of_birth,race_concept_id,race,ethnicity_concept_id,ethnicity,sex_at_birth_concept_id,sex_at_birth
0,1557911,1177221,I prefer not to answer,1979-06-15 00:00:00+00:00,1177221,I prefer not to answer,903079,PMI: Prefer Not To Answer,46273637,Intersex
1,1007578,1585843,Gender Identity: Additional Options,1980-06-15 00:00:00+00:00,45882607,None of these,1586148,What Race Ethnicity: Race Ethnicity None Of These,46273637,Intersex
2,1991141,1585841,Gender Identity: Non Binary,1985-06-15 00:00:00+00:00,45882607,None of these,1586148,What Race Ethnicity: Race Ethnicity None Of These,46273637,Intersex
3,1179190,1585841,Gender Identity: Non Binary,1986-06-15 00:00:00+00:00,45882607,None of these,1586148,What Race Ethnicity: Race Ethnicity None Of These,46273637,Intersex
4,2028643,45880669,Male,1976-06-15 00:00:00+00:00,903096,PMI: Skip,903096,PMI: Skip,46273637,Intersex

In [33]:
if not os.path.exists("genomic_metrics.tsv"):
    !gsutil -u $GOOGLE_PROJECT cp gs://fc-aou-datasets-controlled/v7/wgs/short_read/snpindel/aux/qc/genomic_metrics.tsv .
    
sr_metrics = pd.read_table('genomic_metrics.tsv')

In [63]:
sr_metrics

,research_id,sample_source,site_id,sex_at_birth,dragen_sex_ploidy,mean_coverage,genome_coverage,aou_hdr_coverage,dragen_contamination,aligned_q30_bases,verify_bam_id2_contamination,biosample_collection_date
0,1000004,Whole Blood,bi,M,XY,44.15,96.95,99.67,0.0,1.494380e+11,1.019330e-05,2019-07-26
1,1000033,Whole Blood,bi,M,XY,37.45,96.49,99.46,0.0,1.227449e+11,1.076750e-05,2019-08-06
2,1000039,Whole Blood,bi,F,XX,35.60,95.61,99.51,0.0,1.158729e+11,2.242160e-05,2020-02-11
3,1000042,Whole Blood,bi,M,XY,41.71,96.72,99.37,0.0,1.329559e+11,6.198400e-06,2019-06-19
4,1000045,Whole Blood,uw,F,XX,40.73,96.74,99.97,0.0,1.337420e+11,1.591560e-04,2020-02-27
...,...,...,...,...,...,...,...,...,...,...,...,...
245389,9998987,Whole Blood,bi,M,XY,42.62,96.84,99.58,0.0,1.375518e+11,4.954170e-06,2021-11-03
245390,9999351,Whole Blood,bcm,F,XX,36.29,96.28,99.83,0.0,1.270510e+11,1.908060e-06,2022-03-30
245391,9999412,Whole Blood,bcm,M,XY,37.97,96.46,99.16,0.0,1.206260e+11,3.692460e-06,2021-10-19
245392,9999653,Whole Blood,bcm,F,XX,36.36,96.29,99.86,0.0,1.303830e+11,7.601530e-09,2022-01-26
245393,9999697,Whole Blood,bi,F,XX,38.28,96.57,99.93,0.0,1.283612e+11,2.008700e-06,2022-03-09

In [26]:
sample_ids = set(lt_df[lt_df['source'] == 'Sample_sv.pheWAS.txt.gz']['sample'])
sample_ids = { str(x) for x in sample_ids }

In [66]:
client = bigquery.Client()
CDR_version = os.getenv("WORKSPACE_CDR")

sample_ids_str = ",".join(sample_ids)

query = f"""
WITH combined_data AS (
    SELECT person_id, condition_concept_id AS concept_id, 'condition' AS source
    FROM `{CDR_version}.condition_occurrence`
    WHERE person_id IN ({sample_ids_str})

    UNION ALL

    SELECT person_id, observation_concept_id AS concept_id, 'observation' AS source
    FROM `{CDR_version}.observation`
    WHERE person_id IN ({sample_ids_str})

    UNION ALL

    SELECT person_id, measurement_concept_id AS concept_id, 'measurement' AS source
    FROM `{CDR_version}.measurement`
    WHERE person_id IN ({sample_ids_str})

    UNION ALL

    SELECT person_id, drug_concept_id AS concept_id, 'drug_exposure' AS source
    FROM `{CDR_version}.drug_exposure`
    WHERE person_id IN ({sample_ids_str})

    UNION ALL

    SELECT person_id, procedure_concept_id AS concept_id, 'procedure' AS source
    FROM `{CDR_version}.procedure_occurrence`
    WHERE person_id IN ({sample_ids_str})
)
SELECT person_id, concept_id, source FROM combined_data
"""

df_samples = client.query(query).to_dataframe().drop_duplicates()
#output_file = "AoU_LR_samples_all_domains.csv"
#df_samples.to_csv(output_file, index=False)

In [67]:
df_samples[df_samples['source'] == 'condition']

          person_id  concept_id     source
8687        1626809      439777  condition
8688        2128299       80189  condition
8689        2369838    43021974  condition
8690        1409712      436740  condition
8691        1060338    37311061  condition
...             ...         ...        ...
23240936    1990663      320128  condition
23241754    1215372      320128  condition
23242044    1662781      320128  condition
23242510    1176905      320128  condition
23242998    1221266      320128  condition

[561836 rows x 3 columns]

In [68]:
# Merge to add sex_at_birth from sr_metrics to df_samples
df_samples = df_samples.merge(
    sr_metrics[["research_id", "site_id", "sex_at_birth"]],
    left_on="person_id",
    right_on="research_id",
    how="left"
)

# Optionally drop the extra research_id column after merge
df_samples.drop(columns=["research_id"], inplace=True)

In [69]:
df_samples

         person_id  concept_id       source site_id sex_at_birth
0          1632594     4353938  measurement      bi            F
1          1259911     3023884  measurement      bi            M
2          2821352     3005229  measurement      bi            M
3          2035964     3034703  measurement      bi          NaN
4          1456532     3018586  measurement     bcm            F
...            ...         ...          ...     ...          ...
3737967    1850759    43055141  measurement     bcm            M
3737968    1674790    40762499  measurement      bi            F
3737969    1304111    40762499  measurement      bi            F
3737970    1870872    43055141  measurement      bi            M
3737971    1197754    43055141  measurement     bcm            F

[3737972 rows x 5 columns]

In [36]:
!gsutil -u $GOOGLE_PROJECT cp $WORKSPACE_BUCKET/resources/vocabulary.zip .

Copying gs://fc-secure-dd46533c-db9d-4aa1-91ab-1bd479e3da50/resources/vocabulary.zip...
| [1 files][147.4 MiB/147.4 MiB]
Operation completed over 1 objects/147.4 MiB.

In [37]:
!unzip -o vocabulary.zip

Archive:  vocabulary.zip
  inflating: CONCEPT.csv
  inflating: DOMAIN.csv
  inflating: CONCEPT_CLASS.csv
  inflating: RELATIONSHIP.csv
  inflating: DRUG_STRENGTH.csv
  inflating: VOCABULARY.csv
  inflating: CONCEPT_SYNONYM.csv
  inflating: CONCEPT_ANCESTOR.csv
  inflating: CONCEPT_RELATIONSHIP.csv

In [70]:
df_conditions = df_samples[df_samples["source"] == "condition"][["person_id", "concept_id", "site_id", "sex_at_birth"]]

vocabulary_file = "CONCEPT.csv"  # from OHDSI
df_vocab = pd.read_csv(vocabulary_file, sep="\t",low_memory=False)

df_vocab = df_vocab[["concept_id", "concept_name", "concept_class_id", "standard_concept"]]
df_merged = pd.merge(df_conditions, df_vocab, on="concept_id", how="left")

In [83]:
df_merged['person_id'] = df_merged['person_id'].astype(str)

In [84]:
df_merged

,person_id,concept_id,site_id,sex_at_birth,concept_name,concept_class_id,standard_concept
0,1626809,439777,bi,F,Anemia,Disorder,S
1,2128299,80189,bi,F,Displacement of lumbar intervertebral disc wit...,Disorder,S
2,2369838,43021974,bi,M,Complication associated with device,Disorder,S
3,1409712,436740,bi,F,Cervical incompetence,Disorder,S
4,1060338,37311061,bi,F,COVID-19,Disorder,S
...,...,...,...,...,...,...,...
561831,1990663,320128,bi,M,Essential hypertension,Disorder,S
561832,1215372,320128,bcm,M,Essential hypertension,Disorder,S
561833,1662781,320128,bi,F,Essential hypertension,Disorder,S
561834,1176905,320128,bi,M,Essential hypertension,Disorder,S
561835,1221266,320128,bi,F,Essential hypertension,Disorder,S

In [85]:
df_subset = df_merged[df_merged["person_id"].isin(sample_ids)]

In [86]:
df_subset

,person_id,concept_id,site_id,sex_at_birth,concept_name,concept_class_id,standard_concept
0,1626809,439777,bi,F,Anemia,Disorder,S
1,2128299,80189,bi,F,Displacement of lumbar intervertebral disc wit...,Disorder,S
2,2369838,43021974,bi,M,Complication associated with device,Disorder,S
3,1409712,436740,bi,F,Cervical incompetence,Disorder,S
4,1060338,37311061,bi,F,COVID-19,Disorder,S
...,...,...,...,...,...,...,...
561831,1990663,320128,bi,M,Essential hypertension,Disorder,S
561832,1215372,320128,bcm,M,Essential hypertension,Disorder,S
561833,1662781,320128,bi,F,Essential hypertension,Disorder,S
561834,1176905,320128,bi,M,Essential hypertension,Disorder,S
561835,1221266,320128,bi,F,Essential hypertension,Disorder,S

In [87]:
dataset_87959485_person_df['person_id'] = dataset_87959485_person_df['person_id'].astype(str)

In [88]:
# Ensure the column is datetime
dataset_87959485_person_df["date_of_birth"] = pd.to_datetime(dataset_87959485_person_df["date_of_birth"], errors="coerce")

# Today's date
today = pd.Timestamp(date.today())

# Compute age in years
dataset_87959485_person_df["age"] = dataset_87959485_person_df["date_of_birth"].apply(
    lambda dob: today.year - dob.year - ((today.month, today.day) < (dob.month, dob.day))
)

In [101]:
df_with_age = pd.merge(
    df_subset,
    dataset_87959485_person_df[["person_id", "age"]],
    on="person_id",
    how="left"   # keeps all rows from df_subset
)

df_with_di = pd.merge(
    df_with_age,
    dataset_87959485_zip_code_socioeconomic_df[["person_id", "median_income", "poverty", "deprivation_index"]],
    on="person_id",
    how="left"
)

In [102]:
df_final = df_with_di.drop(columns=["concept_id", "concept_class_id", "standard_concept"])

In [103]:
df_final

,person_id,site_id,sex_at_birth,concept_name,age,median_income,poverty,deprivation_index
0,1626809,bi,F,Anemia,64,126454.493880,6.550429,0.162544
1,2128299,bi,F,Displacement of lumbar intervertebral disc wit...,64,56305.954102,20.587741,0.388458
2,2369838,bi,M,Complication associated with device,62,57306.992449,21.878357,0.389791
3,1409712,bi,F,Cervical incompetence,43,69046.914800,12.237079,0.330913
4,1060338,bi,F,COVID-19,57,46828.002915,22.741653,0.368984
...,...,...,...,...,...,...,...,...
561831,1990663,bi,M,Essential hypertension,35,54223.044605,22.064159,0.409916
561832,1215372,bcm,M,Essential hypertension,71,71783.359081,15.740995,0.296992
561833,1662781,bi,F,Essential hypertension,23,60080.505422,14.925582,0.291886
561834,1176905,bi,M,Essential hypertension,52,56305.954102,20.587741,0.388458
561835,1221266,bi,F,Essential hypertension,45,53309.082340,18.122045,0.336519